*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 20px;
}

main{
  display:flex;
  justify-content: center;
}

.content{
  width: 840px;
  margin: 50px 0;
}

.firstcontent-item{
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 30px;
}

.content-item{
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 30px 0;
}

